
@{
    ViewBag.Title = "Política de privacidad";
}
<h1><a id="Poltica_de_privacidad_0"></a>Política de privacidad</h1>
<p>Esta política de privacidad es válida para todos los sitios de <em>Smalldebts</em> y las aplicaciones relacionadas a este servicio.</p>
<h2><a id="Informacin_recolectada_4"></a>Información recolectada</h2>
<p>Al momento de crear una cuenta te será solicitado una dirección de correo electrónico <strong>para fines de identificación y sincronización de información</strong> a través de tus diferentes dispositivos.</p>
<p>
    Ocasionalmente recibirás mensajes de correo del equipo de <em>Smalldebts</em> con información acerca de la app o productos relacionados, pero tu infodmación nunca será entregada o vendida a terceros con fines de márketing o promocionales.<br>
    Usamos cookies así como otro <em>tokens</em> de otros tipos para mantener información sobre el inicio de sesión en los dispositivos que uses.
</p>
<h2><a id="Recolecin_de_datos_annimos_en_las_aplicaciones_11"></a>Recoleción de datos anónimos en las aplicaciones</h2>
<p>Las apps de <em>Smalldebts</em> recolectan estadísticas anónimas sobre el uso que los usuarios le dan a esta o errores generados en la app, con el objetivo de mejorar y priorizar el desarrollo de ciertas funciones.</p>
<h2><a id="Ubicacin_de_tu_informacin_14"></a>Ubicación de tu información</h2>
<p>La informaci´ón recolectada an´ónimamente, as´í como la que tu mismo proveas puede ser procesada y almacenada fuera del país en el que residas.</p>
<h2><a id="Consentimiento_17"></a>Consentimiento</h2>
<p>Al usar este sitio web o registrarte en <em>Smalldebts</em> estás aceptando los términos que esta política de privacidad indica.</p>
<h2><a id="Contacto_20"></a>Contacto</h2>
<p>Cualquier duda relacionada a esta política de privacidad puede ser enviada a <a href="mailto:privacy@messier16.com">privacy@messier16.com</a></p>
<h2><a id="Cambios_a_esta_pliza_23"></a>Cambios a esta política</h2>
<p>En caso de que se hagan cambios a esta política de privacidad, dichos cambios serán publicados en esta página y serán informados, en la medida de lo posible, a los usuarios.</p>
<ul>
    <li>9 de marzo: publicación inicial</li>
</ul>


